.profile__info {
  max-width: 550px;
  
  padding: 0px 30px;
}

@media (max-width: 1023px) {
  .profile__info {
    max-width: 431px;
    padding: 0px 0px 0px 30px;
  }
}

@media (max-width: 767px) {
  .profile__info {
    max-width: 216px;

    padding: 0;
    position: relative;
  }
}