.profile__edit-button {
  width: 24px;
  height: 24px;

  background-color: #000000;
  background-image: url(../../../images/Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: 1px solid #FFFFFF;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;

    position: absolute;
    top: 34px;
    right: -28px;
  }
}