.popup__button-close {
  width: 32px;
  height: 32px;

  position: absolute;
  top: -40px;
  right: -40px;

  background-image: url(../../../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__button-close {
    width: 20px;
    height: 20px;

    top: -36px;
    right: 0;
  }
}