.popup__container {
  min-width: 430px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .popup__container {
    min-width: 282px;
  }
}