.auth__signin-link {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.auth__signin-link:hover {
  opacity: 0.6;
  cursor: pointer;
}